body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* navbar */
.navbar { 
    width: 100%;
    height: 50px;
    background: #360836 ;
}

.navbar ul {
    list-style: none;
    text-align: center;
    line-height: 50px;
}

.navbar ul li {
    display: inline-block;
    font-size: 20px;
}

.navbar ul li a {
    color: #ff0048;
    text-decoration: none;
    margin-left: 15px;

}
.navbar ul li a.active {
    color: white;
}

/* web folk */

.web {
    width: 100%;
    height: 600px;
    background: url(../images/cover.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

.web .folk {
    padding-top: 80px;
    margin-bottom: 80px;
}

.web .folk h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white; 
    text-transform:uppercase;
}

.web .folk p {
    letter-spacing: 10px;
    font-size: 25px;
    color: white;
}

.web .dream p {
    color: white;
    font-size: 25px;
}

.web .work {
    position: absolute;
    bottom: 0%;
    color: white;
    left: 40%;
    background: #ff0048;
    padding: 15px;
    width: 250px;
    font-size: 20px;
}

.web .work:after {
    content: "";
    border-top: 20px solid #ff0048;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position:relative;
    top: 55px;
    left: -70px;
}

/* image */

.image {
    width: 100%;
}

.image .img {
    background: url(../images/image_1.jpg);
    width: 25%;
    height: 252px;
    float: left;
}

.image .img .over {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}

.image .img:hover .over {
   opacity: 0.8; 
} 

.image .i-1 { background: url(../images/image_2.jpg);}
.image .i-2 { background: url(../images/image_3.jpg);}
.image .i-3 { background: url(../images/image_4.jpg);}
.image .i-4 { background: url(../images/image_5.jpg);}
.image .i-5 { background: url(../images/image_6.jpg);}
.image .i-6 { background: url(../images/image_7.jpg);}
.image .i-7 { background: url(../images/image_8.jpg);}
.image .i-8 { background: url(../images/image_9.jpg);}
.image .i-9 { background: url(../images/image_10.jpg);}
.image .i-10 { background: url(../images/image_11.jpg);}
.image .i-11 { background: url(../images/image_12.jpg);}

.clear {
    clear: both;
}

/* meet the folk */

.meet {
    width: 100%;
    height: 800px;
    position: relative;    
}

.meet .head {
    position: absolute;
    top: 0;
    background: #f50;
    width: 100%;
    height: 50px;
}